

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Roboto&display=swap');

@media (min-width: 810px) {
 
/* ---------------------- General Styles ---------------------- */

:root {
    --primary-color: #5D5D89;
    --secondary-color: #EDE5E6;
    --white: white;
    --accent1-color: #181D4E;
    --accent2-color: #632B30;
  
    --heading-font: "Jura";
    --paragraph-font: "Roboto";
}



body {
    font-family: var(--paragraph-font);
    font-size: 1.2rem;
    z-index: -1;
}



header {
    background-color: var(--accent1-color);
    color: var(--white);
    text-align: center;
    padding: 5px;
    align-items: center; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
header div {
    grid-column: 2/3;
    margin-left: auto;
}
#profile-pic {
    max-width: 150px;
    border-radius: 25px;
}
#profile-name {
    grid-column: 3/5;
    text-align: left;
}



nav {
    background-color: var(--primary-color);
    color: var(--white);
    flex-direction: row;
    padding: 0.25em;
}
nav ul {
    display: flex;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0px;
}
nav ul li {
    flex: 1 1 100%;
}
a {
    color: var(--white);
    margin: 0px;
}
a:hover {
    color: var(--accent2-color);
}
#menu {
    display: none;
}





h1, h2, h3 {
    font-family: var(--heading-font);
    text-align: center;
    padding: 1em;
}

h3 {
    color: var(--white);
}


main {
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 1em 2.5em 5em 2.5em;
    margin-left: auto;
    margin-right: auto;
}



.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 400px;
    width: 100%;
    grid-column: 1/6;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
    border-radius: 15px;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: rgba(0,0,0,.75);
	border: 1px solid rgba(0,0,0,.75);
    border-radius: 15px;
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
    white-space: nowrap;
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.5rem;

}



#subtitle {
    color: var(--accent1-color);
    padding: 0px;
    text-decoration: underline;
    grid-column: 1/6;
}
#learningCard {
    grid-column: 1/4;
}
#infoCard {
    grid-column: 4/6;
    text-align: center;
    
}
figcaption {
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-variant:small-caps;
    font-size: larger;
}


#mapCard {
    grid-column: 1/6;
    padding: 10px;
}
main div, main section {
    box-shadow: 5px 10px 15px;
    border-radius: 15px;
    color: var(--white);
    background-color: var(--accent1-color);
    margin: 5px;
}
li {
    list-style: none;
}
main div h3, main section h3 {
    border-radius: 15px;
    margin: 5px;
}
iframe  {
    border-radius: 15px;
    border-style: none;
    width: 100%;
    height: 400px;
}
.cardHeader:hover::before, .cardHeader:hover::after {
    content: "-";
}



footer {
    background-color: var(--accent1-color);
    color: var(--white);
    text-align: center;
    padding: 10px;
}

}